.slideInTop{
    opacity: 0;
    animation: slideInTop 1s ease-in-out forwards;

}

@keyframes slideInTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    40%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.8;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
  }
}

.fadeIn{
    opacity: 0;
    animation: fadeIn 1.5s .3s ease-in-out forwards;
}

.fadeIn_2{
    opacity: 0;
    animation: fadeIn 1s 1.2s ease-in-out forwards;
}
.fadeIn_3{
    opacity: 0;
    animation: fadeIn 1s 1.4s ease-in-out forwards;
}



@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    40%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.8;
    }
    100% {
        opacity: 1;
  }
}


.slideInLeft{
    opacity: 0;
    animation: slideInLeft .5s 1s ease-in-out forwards;
}
@keyframes slideInLeft {
    0%{
        transform: translateX(-100px);
    }
    50%{
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
  }
}

.progress_circle_1{
  opacity: 0; 
  animation: revealFromBottom 1s .2s ease-in-out forwards;
}

@keyframes revealFromBottom {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}