*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Delius", cursive;
  transition: all 0.3s ease-in-out;    
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: black;
  color: #e2e2e2;   
}
#root {
  width: 100%;
  max-width: 450px;
  min-height: 100dvh;
  margin: 0 auto;
}